<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>
    <body>
        <center>
            <div>
                <h1>게시판</h1>
                <h3>게시물</h3>
            </div>
            
            <div>
                <table border="1" width="100%">
                    <tr>
                        <th width = "15%">제목</th>
                        <th width = "85%"><%=rows.title%></th>
                    </tr>
                    <tr>
                        <th width = "15%">글쓴이</th>
                        <th width = "85%"><%=rows.userid%></th>
                    </tr>
                    <tr>
                        <th width = "15%">작성일자</th>
                        <th width = "85%"><%=rows.date%></th>
                    </tr>
                    <tr>
                        <th width = "15%">글</th>
                        <th width = "85%"><%=rows.content%></th>
                    </tr>

                </table>
            </div>
        </center>
    </body>
</html>