<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>메인 게시판</title>
    </head>
    <body>
        <center>
            <div class="row">
                <div class="col-12" >
                    <div>
                        <%
                            if (user) 
                            {
                        %>
                            <button type="button" onclick="location.href='http://localhost:8080/logout'" style="margin-top: 10px; margin-right: 3px;position:relative; width: 100px; height: 70;float: right;">로그아웃</button>
                            <button type="button" onclick="location.href='http://localhost:8080/write'" style="margin-top: 10px; margin-right: 3px;position:relative; width: 100px; height: 70;float: right;">글쓰기</button>
                            <span style="margin-top: 10px; margin-left: 1px;position:relative; width: 170px; height: 70;float: right;"><%=user.name%> 님 어서오세요</span>
                        <%
                            }
                            else
                            {
                        %>        
                            <button type="button" onclick="location.href='http://localhost:8080/signUp'" style="margin-top: 10px; margin-right: 30px;position:relative; width: 100px; height: 70;float: right;">회원가입</button>
                            <button type="button" onclick="location.href='http://localhost:8080/login'" style="margin-top: 10px; margin-right: 30px;position:relative; width: 100px; height: 70;float: right;">로그인</button>        
                        <%
                            }
                        %>
    
                    </div>
                    <h1>게시판</h1>
                </div>
            </div>
            <div>
                <div>
                    <table border="1" width="100%">
                        <tr>
                            <th width = "60%">제목</th>
                            <th width = "10%">글쓴이</th>
                            <th width = "15%">작성일</th>
                            <th width = "10%">조회수</th>
                            <th width = "5%">글 보기</th>
                        </tr>
                        <form method="post" action="/load">
                        <% rows.forEach((row, index) =>
                        {
                            %>
                            <tr>
                                <td align="center"><%=row.title%></td>
                                <td align="center"><%=row.userid%></td>
                                <td align="center"><%=row.date%></td>
                                <td align="center"><%=row.view%></td>
                                <td align="center" name="idx">
                                <input type="submit" name="idx" value="<%=row.idx %>">
                                </td>
                            </tr>
                        <% }); %>
                        </form>
                    </table>
                    <p>
                        <a href="#">1</a>
                    </p>
                </div>
            </div>
        </center>
    </body>
</html>